extends:
  - "stylelint-config-standard"
  - "stylelint-config-standard-scss"
  - "stylelint-config-recommended-vue"
  - "stylelint-config-recess-order"

configBasedir: "node_modules"

rules:
  "color-hex-length": "long"
